body {
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 18px; }

.container {
  border: 1px solid black;
  width: 900px;
  margin-bottom: 18px;
  *zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table;
    visibility: hidden; }
  .container:after {
    clear: both; }

[class*="block_"] {
  min-height: 300px;
  background: rgba(0, 0, 0, 0.2);
  float: left; }

[class*="block_"] > [class*="block_"] {
  background: rgba(0, 0, 0, 0.2); }
  [class*="block_"] > [class*="block_"]:first-child {
    margin-left: 0; }

.block_1 {
  margin-left: 8px;
  width: 67px; }

.block_2 {
  margin-left: 8px;
  width: 142px; }

.block_3 {
  margin-left: 8px;
  width: 217px; }

.block_4 {
  margin-left: 8px;
  width: 292px; }

.block_5 {
  margin-left: 8px;
  width: 367px; }

.block_6 {
  margin-left: 8px;
  width: 442px; }

.block_7 {
  margin-left: 8px;
  width: 517px; }

.block_8 {
  margin-left: 8px;
  width: 592px; }

.block_9 {
  margin-left: 8px;
  width: 667px; }

.block_10 {
  margin-left: 8px;
  width: 742px; }

.block_11 {
  margin-left: 8px;
  width: 817px; }

.block_12 {
  margin-left: 8px;
  width: 892px; }

.golden {
  min-height: 300px;
  background: rgba(0, 0, 0, 0.2);
  float: left; }
  .golden:nth-child(odd) {
    margin-left: 8px;
    width: 163.89193px; }
  .golden:nth-child(even) {
    margin-left: 8px;
    width: 270.12114px; }

.golden-vert {
  width: 100%;
  background: rgba(0, 0, 0, 0.2); }
  .golden-vert:first-child {
    margin-bottom: 8px;
    height: 106.59462px; }
  .golden-vert:last-child {
    height: 185.41409px; }

.golden-inner {
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  float: left; }
  .golden-inner:first-child {
    width: 57.65963px; }
  .golden-inner:last-child {
    width: 98.23728px;
    margin-left: 8px; }
  .golden-inner .golden-vert {
    width: 100%;
    background: rgba(0, 0, 0, 0.2); }
    .golden-inner .golden-vert:first-child {
      height: 70.82486px; }
    .golden-inner .golden-vert:last-child {
      height: 106.59462px; }
